.Headline {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.textHeader {
    margin-top: 25em;
    padding-top: 10%;
    padding-right: 30%;
}

.source {
    position: fixed;
    bottom: 0;
    right: 0;
}
