.Religion {
    background-image: url("premium_religion.png");
    background-repeat: no-repeat;
    margin-top: 7.5%;
    height: 85vh;
    background-size: cover;
}

.box_religion2010 {

    margin-top: 5%;

}


    