.Intro {
    background-image: url("backgroundIntro.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.containerIntro {
    padding-top: 15%;
}

.intro {
    height: 230px;
}

